**/*.mp4
caffe3d/
caffe3d/**/*
lib/setup.py
pretrain/activitynet_iter_30000_3fps.caffemodel
preprocess/activityNet/videos/
snapshot/activitynet_iter_135000.caffemodel
preprocess/activityNet/videos/

cudnn-8.0-linux-x64-v5.1.tgz
cuda/
cuda/**/*

preprocess/activityNet/frames/**/*
